pkgbase = obs-studio-browser
	pkgdesc = Free and open source software for video recording and live streaming. Built with the browser plugin.
	pkgver = 27.0.0
	pkgrel = 1
	url = https://github.com/obsproject/obs-studio
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cef-minimal
	makedepends = cmake
	makedepends = git
	makedepends = jack
	makedepends = libfdk-aac
	makedepends = libxcomposite
	makedepends = luajit
	makedepends = python
	makedepends = swig
	makedepends = vlc
	makedepends = x264
	depends = curl
	depends = ffmpeg
	depends = gtk-update-icon-cache
	depends = jansson
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = qt5-x11extras
	depends = pipewire
	optdepends = libfdk-aac: FDK AAC codec support
	optdepends = libxcomposite: XComposite capture support
	optdepends = jack: JACK Support
	optdepends = vlc: VLC Media Source
	optdepends = swig: Scripting
	optdepends = luajit: Lua scripting
	optdepends = python: Python scripting
	optdepends = v4l2loopback-dkms: Virtual camera output
	provides = obs-studio=27.0.0
	conflicts = obs-studio
	source = obs-studio-browser::git+https://github.com/obsproject/obs-studio.git#tag=27.0.0
	sha256sums = SKIP

pkgname = obs-studio-browser

