pkgbase = obs-studio-browser
	pkgdesc = Free and open source software for video recording and live streaming. Built with the browser plugin.
	pkgver = 30.2.3
	pkgrel = 1
	url = https://github.com/obsproject/obs-studio
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asio
	makedepends = cef-minimal-obs
	makedepends = cmake
	makedepends = git
	makedepends = libfdk-aac
	makedepends = libxcomposite
	makedepends = luajit
	makedepends = nlohmann-json
	makedepends = python
	makedepends = sndio
	makedepends = swig
	makedepends = vlc
	makedepends = websocketpp
	depends = curl
	depends = ffmpeg
	depends = gtk-update-icon-cache
	depends = jack
	depends = jansson
	depends = libdatachannel
	depends = libxcomposite
	depends = libxdamage
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = mbedtls
	depends = pciutils
	depends = pipewire
	depends = qrcodegencpp-cmake
	depends = qt5-x11extras
	depends = qt6-svg
	depends = rnnoise
	depends = uthash
	depends = x264
	optdepends = vlc: VLC Media Source
	optdepends = swig: Scripting
	optdepends = luajit: Lua scripting
	optdepends = python: Python scripting
	optdepends = v4l2loopback-dkms: Virtual camera output
	provides = obs-studio=30.2.3
	conflicts = obs-studio
	source = obs-studio-browser::git+https://github.com/obsproject/obs-studio.git#tag=30.2.3
	source = nv-codec-headers.tar.gz::https://github.com/FFmpeg/nv-codec-headers/releases/download/n12.1.14.0/nv-codec-headers-12.1.14.0.tar.gz
	sha256sums = 77422dceabc9af7e47dc28473fff512f921a63999752bd1378e6f2921af9cf3f
	sha256sums = 62b30ab37e4e9be0d0c5b37b8fee4b094e38e570984d56e1135a6b6c2c164c9f

pkgname = obs-studio-browser
