pkgbase = obs-studio-browser
	pkgdesc = Free and open source software for video recording and live streaming. Built with the browser plugin.
	pkgver = 30.1.2
	pkgrel = 1
	url = https://github.com/obsproject/obs-studio
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = asio
	makedepends = cef-minimal-obs
	makedepends = cmake
	makedepends = git
	makedepends = libfdk-aac
	makedepends = libxcomposite
	makedepends = luajit
	makedepends = nlohmann-json
	makedepends = python
	makedepends = sndio
	makedepends = swig
	makedepends = vlc
	makedepends = websocketpp
	depends = curl
	depends = ffmpeg
	depends = gtk-update-icon-cache
	depends = jack
	depends = jansson
	depends = libdatachannel
	depends = libxcomposite
	depends = libxdamage
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = mbedtls
	depends = pciutils
	depends = pipewire
	depends = qrcodegencpp-cmake
	depends = qt5-x11extras
	depends = qt6-svg
	depends = rnnoise
	depends = x264
	optdepends = vlc: VLC Media Source
	optdepends = swig: Scripting
	optdepends = luajit: Lua scripting
	optdepends = python: Python scripting
	optdepends = v4l2loopback-dkms: Virtual camera output
	provides = obs-studio=30.1.2
	conflicts = obs-studio
	source = obs-studio-browser::git+https://github.com/obsproject/obs-studio.git#tag=30.1.2
	sha256sums = 0390743a85c3294abdb73ddf7d5d60354b5283f77cc9680026b2641600ae5384

pkgname = obs-studio-browser
